# bashrs build configuration
# See: https://doc.rust-lang.org/cargo/reference/config.html

[build]
incremental = true

[alias]
t = "test"
c = "check"
b = "build --release"
cl = "clippy --all-targets -- -D warnings"
